<div class="backdrop" (click)="onClose()"></div>

<form [formGroup]="userForm" (ngSubmit)="onCreateUser()">
  <div class="form-buttons">
    <button
      type="submit"
      *ngIf="!editMode; else edit"
      id="create"
      [disabled]="!userForm.valid"
    >
      Create
    </button>

    <ng-template #edit>
      <button (click)="onUpdate()" id="update" [disabled]="!userForm.valid">
        Update
      </button>
      <button (click)="onDelete()" id="delete">Delete</button>
    </ng-template>
  </div>

  <div class="input-field">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" formControlName="firstName" />
  </div>

  <div class="input-field">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" formControlName="lastName" />
  </div>

  <div class="input-field">
    <label for="age">Age</label>
    <input type="number" id="age" formControlName="age" />
  </div>
</form>
