.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

form {
  position: fixed;
  top: 30vh;
  left: 35vw;
  width: 30vw;
  padding: 1rem;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 4px;
}

.form-buttons {
  text-align: center;
  margin: auto;
}

button {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  color: white;
  border: 2px solid transparent;
  border-radius: 6px;
}
button:hover {
  border: 2px solid rgb(67, 65, 65);
}

#create {
  background-color: rgb(16, 197, 16);
}

#update {
  background-color: rgb(68, 68, 201);
}

#delete {
  background-color: rgb(253, 38, 38);
}
button:disabled,
button[disabled] {
  background-color: rgb(118, 122, 118) !important;
  border: 2px solid transparent !important;
}

.input-field {
  display: flex;
  flex-direction: column;
}
